page-about {

    .background-home{
        background-image: linear-gradient(to right, #00c3ff , #fcb4b4);
        color: #ffffff;
    } 

    .c{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
       // background-image: linear-gradient(to right, #d3d3d3 , #d3d3d3);
        border-radius: 20%;
        height: 350px;
        border-style: solid;
        border-radius: 10px;
        border-color: #ffffff;
        border-width: 2px;
    }

    .button-icon{
        height: 35px;
        width: 100px;
        background-color: #7fe7cc;
        border-radius: 10px;
        color: #ffffff;
        text-align: center
    }
.center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .c1{
        width: 350px;
        height: 350px;
    }

    .C2{
        font-size: 50px;
        color: #000000;
    }

    .c3{
        width: 10px;
        height: 10px;
    }

    .button-icon{
        height: 35px;
        width: 100px;
        background-color: #7fe7cc;
        border-radius: 10px;
        color: #ffffff;
        text-align: center
    }

}
