<ion-header>
    <img src="/assets/imgs/1111.svg" (click)="home()">
  </ion-header>
  
   <ion-content padding class="background-home"><br>
        <ion-grid>
        <ion-row>
          <ion-col class="center">
            <div class="c">
                  <img src="/assets/imgs/nicknew2.svg" class="c1" >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-col class="center">
          <div class="button-icon" (click)="about1()">
            <p> ปัสสาวะบ่อย </p>
          </div>
        </ion-col>
      <br><br><br>

      <ion-grid>
          <ion-row>
            <ion-col class="center">
              <div class="c">
                    <img src="/assets/imgs/nicknew11.svg" class="c1">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-col class="center">
          <div class="button-icon" (click)="about2()">
            <p> กระหายน้ำบ่อย </p>
          </div>
        </ion-col>
        <br><br><br>
    
        <ion-grid>
            <ion-row>
              <ion-col class="center">
                <div class="c">
                      <img src="/assets/imgs/nicknick.svg" class="c1">
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-col class="center">
            <div class="button-icon" (click)="about3()">
              <p> ผิวแห้งและคัน </p>
            </div>
          </ion-col>
          <br><br><br>
        
         <ion-grid>
              <ion-row>
                <ion-col class="center">
                  <div class="c">
                        <img src="/assets/imgs/nicknew13.svg" class="c1">
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-col class="center">
              <div class="button-icon" (click)="about4()">
                <p> น้ำหนักตัวลด </p>
              </div>
            </ion-col
            ><br><br><br>

            <ion-grid>
                <ion-row>
                  <ion-col class="center">
                    <div class="c">
                          <img src="/assets/imgs/nicknew14.svg" class="c1">
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-col class="center">
                <div class="button-icon" (click)="about5()">
                  <p> เป็นแผลง่าย </p>
                </div>
              </ion-col>
              <br><br><br>
            
              <ion-grid>
                  <ion-row>
                    <ion-col class="center">
                      <div class="c">
                            <img src="/assets/imgs/nicknew15.svg" class="c1">
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-col class="center">
                  <div class="button-icon" (click)="about6()">
                    <p> อ่อนเพลียง่าย </p>
                  </div>
                </ion-col>
  </ion-content>