<!--
  Generated template for the About1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
  
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
          <ion-row>
            <ion-col class="center">
              <div class="c">
                    <img src="/assets/imgs/nicknew13.svg" class="c1" >
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="center">
            <div>
                น้ำหนักตัวลดโดยไม่ทราบสาเหตุ ทั้งๆ ที่ทานเยอะ แต่ทำไมน้ำหนักไม่ขึ้น แถมยังลดแบบไม่มีสาเหตุอีกด้วย ต้องรีบไปหมอหมอเช็คด่วน เพราะนี่เป็นสัญญาณเตือนที่อันตรายมาก
            </div>
        </div>
  
  </ion-content>
  