<!--
  Generated template for the About1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
  
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
          <ion-row>
            <ion-col class="center1">
              <div class="c">
                    <img src="/assets/imgs/nicknew11.svg" class="c1" >
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="center">
            <div>
                คอแห้ง กระหายน้ำบ่อย เช่นกัน หากใครที่รู้สึกว่าดื่มน้ำเท่าไหร่ก็ยังกระหายอยู่ดี ก็อาจจะเป็นสาเหตุมาจากโรคเบาหวาน
            </div>
        </div>
  
  </ion-content>
  