<!--
  Generated template for the About1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
  
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
          <ion-row>
            <ion-col class="center">
              <div class="c">
                    <img src="/assets/imgs/nicknew15.svg" class="c1" >
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="center">
            <div>
                อ่อนเพลีย ไม่มีเเรง ไม่ว่าจะนอนพักผ่อน หรือนอนเต็มอิ่มเท่าไร ก็ยังรู้สึกว่าร่างกายพักผ่อนไม่พอ อ่อนแรง เพลีบง่าย
            </div>
        </div>
  
  </ion-content>
  