<!--
  Generated template for the About1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
  
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
          <ion-row>
            <ion-col class="center">
              <div class="c">
                    <img src="/assets/imgs/nicknew14.svg" class="c1" >
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="center">
            <div>
                ผู้ป่วยโรคเบาหวาน ไขมันและน้ำตาลที่ไม่ถูกย่อยสลายจะไปจับเส้นเลือด ทำให้เส้นเลือดตีบและแข็งกระทั่งเกิดการอุดตัน อาจทำให้เกิดแผลขึ้นเองโดยเฉพาะที่เท้าเนื่องจากขาดเนื้อเยื่อไปเลี้ยง  ซึ่งหากเป็นแผลก็จะหายยากเพราะหลอดเลือดตีบ ไม่มีเลือดไปหล่อเลี้ยง หรือเลือดไปหล่อเลี้ยงไม่พอ ทำให้อาจเสียขาและเสียชีวิตได้
            </div>
        </div>
  
  </ion-content>
  