<!-- <ion-header>
  </ion-header>
   -->
  
   <ion-content padding class="background-home">
    <ion-grid>
        <ion-row>
          <ion-col class="center">
            <div class="c">
                  <img src="/assets/imgs/nick1.png" class="c1">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col class="center">
            <div class="c">
                  <img src="/assets/imgs/nick0.svg" class="c2" (click)="about()">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid><br><br><br>
  </ion-content>