<!--
  Generated template for the About1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
  
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
          <ion-row>
            <ion-col class="center">
              <div class="c">
                    <img src="/assets/imgs/nicknick.svg" class="c1" >
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="center">
            <div>
                ผิวหนังแห้งและคัน ก็อาจเป็นผลมาจากโรคเบาหวานได้ น้ำตาลในเลือดเยอะจะทำให้ผิวแห้ง
            </div>
        </div>
  
  </ion-content>
  