<!--
  Generated template for the About1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content padding >
    <ion-grid>
        <ion-row>
          <ion-col class="center">
            <div class="c">
                  <img src="/assets/imgs/nicknew2.svg" class="c1" >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="center">
          <div>
              ปัสสาวะบ่อยผิดปกติ หากใครที่รู้สึกปวดท้องปัจสาวะบ่อยแม้ไม่ได้ดื่มน้ำมากก็ตาม ให้ระวังเอาไว้ว่าอาจจะเป็นสัญญาณเตือนของโรคเบาหวานก็เป็นได้
          </div>
      </div>

</ion-content>
